.game-room-prepare-background {
	background-color: red;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F27059;
		z-index: 9999;
		
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

.header-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;

	color: #FFF;
	text-shadow: 2px 2px 4px #FF432A;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.header-center:hover {
	cursor: pointer;
	transform: scale(0.96);
}

.game-room-prepare-container {
	background-color: #FFF2EA;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 5px;
	overflow-y: hidden;
	height: 100vh;
}

.banner_image {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mission_choose {
	position: absolute;
	width: 100%;
	height: auto;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.mission_subject {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	font-size: 4em;
	width: 40%;
	display: flex;
	/* justify-content: left; */
	margin: 0 auto;
}

.mission_subject_title {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	width: fit-content;
	font-size: 1em;
	display: flex;
	justify-content: flex-start;
}

.mission_subject_option {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	width: 20vw;
	height: 8vh;
	font-family: "Black Han Sans";
	text-align: right;
	font-size: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	margin: auto 0 auto auto;
}

.mission_keyword {	
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	font-size: 4em;
	width: 40%;
	display: flex;
	/* justify-content: left; */
	margin: 0 auto;
}

.mission_keyword_title {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	width: fit-content;
	font-size: 1em;
	display: flex;
	justify-content: flex-start;
}

.mission_keyword_content {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	background-color: #FFFFFF;
	width: 20vw;
	height: 7.5vh;
	border-radius: 8px;
	font-family: "Black Han Sans";
	text-align: center;
	font-size: 0.5em;
	margin: 1.5rem 0 5rem auto;
}

.mission_keyword_content:focus {
	outline: 2px solid #FF7B27;
}

.laughter_icon {
	position: absolute;
	left: 7%;
	bottom: 10%;
}

/* ----------- DICE ----------- */
.dice-containeer {
	position: absolute;
	right: 55%;
	bottom: 45%;
	display: inline-block;
}

.dice-tooltip {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	pointer-events: none;
}

.dice-icon {
	position: absolute;
	right: 25%;
	bottom: 45%;
	cursor: pointer;
}

.dice-container:hover .dice-tooltip {
  display: block;
}


#submitButton {
	font-family: 'Black Han Sans', sans-serif;
	width: fit-content;
	background-color: #FF7926;
	color: white;
	font-size: 2rem;
	border: none;
	border-radius: 1rem;
	box-shadow: 5px 5px 5px gray;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#submitButton:hover {
	box-shadow: 5px 5px 5px black;
	cursor: pointer;
}