.game-room-prepare-background {
	position: relative;
	background-color: #FFCDAD;
}

.banner_image{
	/* z-index: 2;
	display: flex;
	align-items: center; */
	position: absolute;
	top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mission_choose{
	position: absolute;
	width:100%;
	height:auto;
	top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.game-room-prepare-container {
	background: #FFF2EA;
	position: relative;
	height: 85vh;
	width: 95vw;
	z-index: 1;
	margin: auto;
	border-radius: 15px;
	border: 5px solid #FF7B27;
}

.mission_subject {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	font-size: 4.6em;
	width: 40%;
	display: flex;
	/* justify-content: left; */
	margin: 0 auto;
}

.mission_subject_title {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	width: fit-content;
	font-size: 1em;
	display: flex;
	justify-content: flex-start;
}

.mission_subject_option {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	width: 20vw;
	height: 8vh;
	font-family: "Black Han Sans";
	text-align: right;
	font-size: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	margin: auto 0 auto auto;
}

.mission_keyword {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	font-size: 4.6em;
	width: 40%;
	display: flex;
	/* justify-content: left; */
	margin: 0 auto;
}

.mission_keyword_title {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	font-family: "Black Han Sans";
	width: fit-content;
	font-size: 1em;
	display: flex;
	justify-content: flex-start;
}

.mission_keyword_content {
	color: rgba(112.62499898672104, 69.4708514213562, 55.84322847425938, 1);
	background-color: #FFFFFF;
	width: 20vw;
	height: 8vh;
	border-radius: 8px;
	font-family: "Black Han Sans";
	text-align: center;
	font-size: 0.5em;
	/* display: flex;
	justify-content: flex-end;
	align-items: stretch; */
	margin: auto 0 5rem auto;
}

.laughter_icon {
	position: absolute;
	left: 7%;
	bottom: 10%;
}

.dice_icon {
	position: absolute;
	right: 20%;
	bottom: 40%;
}

#submitButton {
	font-family: 'Black Han Sans', sans-serif;
	width: fit-content;
	background-color: #FF7926;
	color: white;
	font-size: 2rem; 
	border: none;
	border-radius: 1rem;
	box-shadow: 5px 5px 5px gray;
	/* float:center; */
	margin-top: 1rem;
	margin-bottom: 0rem;
	padding: 0.5rem;
}

#submitButton:hover {
	box-shadow: 5px 5px 5px black;
	cursor: pointer;
}